.bigContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 80%;
}

.contactNumber {
  text-align: center;
  margin-top: 5vh;
}

.contactNumber > h6 {
  font-weight: 600;
  font-size: 3vh;
}

.Images {
  display: flex;
  gap: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 500px;
  overflow: hidden;
}

.ImageOne {
  /* height: 800px; */
  width: 1800px;
}

.ImageOne > img {
  width: 800px;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.ImageTwo {
  /* height: 800px; */
  width: 1800px;
}

.ImageTwo > img {
  width: 800px;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
