.bigContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10vh;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  width: 90%;
}

.image {
  /* height: 10vh; */
  width: 700px;
  position: relative;
}

.image > img {
  /* height: 100%;
  width: 100%; */
  object-fit: contain;
  border-radius: 4px;
  z-index: -1;
}

.card {
  /* border: 1px solid black; */
  padding: 50px 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 15px 4px rgb(230, 230, 230);
  z-index: 1;
  /* margin-left: -10vh; */
  position: relative;
  left: -150px;
  background-color: #fff;
}

.card > h2 {
  font-weight: bold;
  font-size: 5vh;
}

.card > button {
  background-color: #43b3ae;
  padding: 12px 46px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 10px;
}

@media screen and (max-width: 1400px) {
  .image {
    display: none;
  }
  .card {
    position: relative;
    left: 0px;
    width: 100%;
  }
}
