.container {
  background-color: rgb(248, 248, 248);
  padding: 5vh 0px;
  margin: 10vh 0;
}

.carouselDesc {
  padding: 10vh 28vh;
  text-align: center;
}

.carouselDesc > p {
  font-size: 2vh;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .carouselDesc {
    padding: 5vh 10vh;
  }
}
